<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/css/IndexLogo.svg" />
    <title>Memory Test</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<header class="explain-container">
    <div id="logo" class="header-item">
        <img id="logo-img" src="/css/Logo.svg" alt="logo" />
    </div>
    <div>
        <div id="myProfile" class="header-item">
            <a
                    class="iconBox"
                    href="https://github.com/kimD0ngjun/memory_test"
                    target="_blank"
            >
                <img class="icon" src="/css/Github.svg" alt="gitHub" />
            </a>
            <a
                    class="iconBox"
                    href="mailto:chickentasty0112@gmail.com"
                    target="_blank"
            >
                <img class="icon" src="/css/Mail.svg" alt="gmail" />
            </a>
            <a
                    class="iconBox"
                    href="https://instagram.com/00ngjun?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                    target="_blank"
            >
                <img class="icon" src="/css/Instagram.svg" alt="instagram" />
            </a>
        </div>
        <p id="copyright">Copyright 2024. 김동준. all rights reserved.</p>
    </div>
</header>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form id="form-container-signup-box">
            <h1>Sign Up</h1>
            <span>use your email for registration</span>
            <input type="text" id="signup-nickname" placeholder="Nickname">
            <input type="email" id="signup-email" placeholder="Email">
            <input type="password" id="signup-password" placeholder="Password">
            <input type="password" id="signup-checkPassword" placeholder="Check Password">
            <button type="submit" id="signup-button">회원가입</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <div class="form-container-box">
            <h1>Sign In</h1>
            <span>use your email password</span>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <a class="forget" href="#">Forget Your Password?</a>
            <button id="login-button">로그인</button>
        </div>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h2>Remember Account?</h2>
                <p>회원정보를 입력해서 게임을 즐겨주세요!</p>
                <button class="hidden" id="login">로그인</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h2>Play the Game!</h2>
                <p>간단한 회원가입 후, 게임을 즐겨주세요!</p>
                <button class="hidden" id="register">회원가입</button>
            </div>
        </div>
    </div>
</div>
<footer class="explain-container"></footer>
<script src="/js/auth.js"></script>
</body>
</html>