<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <title>Memory Test</title>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <div class="form-container box">
            <h1>Sign Up</h1>
            <span>use your email for registration</span>
            <input type="text" placeholder="Nickname">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Check Password">
            <button>회원가입</button>
        </div>
    </div>
    <div class="form-container sign-in">
        <div class="form-container box">
            <h1>Sign In</h1>
            <span>use your email password</span>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <a class="forget" href="#">Forget Your Password?</a>
            <button>로그인</button>
        </div>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h2>Remember Account?</h2>
                <p>회원정보를 입력해서 게임을 즐겨주세요!</p>
                <button class="hidden" id="login">로그인</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h2>Play the Game!</h2>
                <p>간단한 회원가입 후, 게임을 즐겨주세요!</p>
                <button class="hidden" id="register">회원가입</button>
            </div>
        </div>
    </div>
</div>
<script></script>
</body>
</html>